<!DOCTYPE html>
<html>
<head>
	<title>hi</title>
</head>
<body>
	<form method='post' action='/search'>
		<label> Search:</label>
		<input type="text" name="name">
		<button type="Submit">Submit</button>
	</form>
</body>
</html>