<ul class="list">
  {{#each youtube}}
  <div>
  	<li><h3>Title: </h3><h2>{{this.title}}</h2></li>
  	<li><h3>Video: </h3></li>
  	<iframe width="420" height="345" src="{{this.clink}}"></iframe>
  </div><br><hr>
  {{/each}}
</ul>

<script type="text/javascript">
	function onclick({
		windows.open()
	});
</script>